* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px blue solid; */
}

/* Main container */
body {
  padding: 35px;
  height: 100vh;
}

.main-title {
  margin-bottom: 30px;
}

a,
a:hover {
  color: black;
}

/* Dashboard */
.delete-icon {
  color: rgb(196, 12, 12);
}

/* Cells */
th {
  padding: 10px 0 10px 10px;
}

td {
  padding: 10px;
}

tbody > tr:hover {
  background-color: rgb(240, 240, 240);
  transition: 0.4s;
}

/* Employee / Deparment */
.dept-emp {
  font-size: 12px;
}
